form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 0.5;
}

.grid {
    --width: min(100vw, 40vh, 380px);
    max-width: var(--width);
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.2rem;
    margin: 0 0 0.3rem 0;
}

@media (prefers-reduced-motion: no-preference) {
    .grid.bad-guess .row.current {
        animation: wiggle 0.5s;
    }
}

.letter {
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    text-transform: lowercase;
    border: 2px solid #575757;
    font-size: calc(0.08 * var(--width));
    font-weight: 700;
    border-radius: 2px;
    /* background: #2c2d2e; */
    margin: 0;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.letter.missing {
    background: #3a3a3c;
    color: rgb(255, 255, 255);
}

.letter.exact {
    background: var(--color-theme-2);
    color: white;
}

.letter.close {
    background: var(--color-theme-1);
}

.controls {
    text-align: center;
    justify-content: center;
    height: min(18vh, 10rem);
}

.keyboard {
    --gap: 0.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: 100%;
}

.keyboard .row {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    flex: 1;
}

.keyboard button,
.keyboard button:disabled {
    --size: min(8vw, 4vh, 40px);
    background-color: #818384;
    color: rgb(255, 255, 255);
    width: var(--size);
    border: none;
    border-radius: 2px;
    font-size: calc(var(--size) * 0.5);
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.keyboard button.exact {
    background: var(--color-theme-2);
    color: white;
}

.keyboard button.missing {
    background: #2c2d2e;
    opacity: 0.5;
}

.keyboard button.close {
    background: var(--color-theme-1);
    border: 2px solid var(--color-theme-1);
}

.keyboard button:focus {
    background: var(--color-theme-1);
    color: white;
    outline: none;
}

.keyboard button[data-key="enter"],
.keyboard button[data-key="backspace"] {
    position: absolute;
    bottom: 0;
    width: calc(1.5 * var(--size));
    height: calc(1 / 3 * (100% - 2 * var(--gap)));
    text-transform: uppercase;
    font-size: calc(0.3 * var(--size));
    padding-top: calc(0.15 * var(--size));
}

.keyboard button[data-key="enter"] {
    right: calc(50% + 3.5 * var(--size) + 0.8rem);
}

.keyboard button[data-key="backspace"] {
    left: calc(50% + 3.5 * var(--size) + 0.8rem);
}

.keyboard button[data-key="enter"]:disabled {
    opacity: 0.5;
}

.restart {
    width: 100%;
    padding: 1rem;
    background: #818384;
    border-radius: 2px;
    border: none;
}

.restart:focus,
.restart:hover {
    background: var(--color-theme-2);
    color: white;
    outline: none;
}

.share {
    width: 50%;
    padding: 0.5rem;
    background: #818384;
    border-radius: 2px;
    border: none;
    margin-top: 1rem;
}

.share:focus,
.share:hover {
    background: var(--color-theme-2);
    color: white;
    outline: none;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-2px);
    }
    30% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-6px);
    }
    70% {
        transform: translateX(+4px);
    }
    90% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}